body {
  background-color: antiquewhite;
 
}
h3 {
  font-family: 'Times New Roman'; 
  text-align: center;
  font-size: 20px;
  border: black;
  border-bottom-style: dotted;
  margin-bottom: 0;
  padding-bottom: 20px;
}

#title{
  position: absolute;
  font-size: 25px;
  font-weight: 100;
  top: 1.5cm;
  left: 30%;
  text-align: center;
  font-style: oblique;
  color:white;
  font-family: 'Times New Roman';
}
.slack {
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Times New Roman';
  position: absolute;
  top: 4cm;
  text-align: center;
  
 
} 

#user, #interface, #address, #city, #cloud, #earth {
  width: 33.3%
}

img {
  width: 35%;
}

#bg {
  opacity: 0.4;
  width: 100%;
}